<template name="navBar">
    <nav class="cec-special-color-site">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">KtuCec</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#unless currentUser}}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                {{else}}
                    <li><a class="dropdown-button" href="" data-beloworigin="true" data-activates="activityDropdown">Activity<i class="material-icons right">arrow_drop_down</i></a></li>
                    <ul id='activityDropdown' class='dropdown-content'>
                        <li><a href="/activity/create"><i class="material-icons left">create</i>Create Activity</a></li>
                        {{#if isInRole 'admin'}}
                            <li><a href="/admin/activity"><i class="material-icons left">list</i>Show Activity</a></li>
                        {{/if}}
                    </ul>
                    <script>
                        $('.dropdown-button').dropdown({
                            constrainWidth: false
                        });
                    </script>
                    {{#if isInRole 'admin'}}
                        <li><a href="/admin/dashboard">Dashboard</a></li>
                    {{else}}
                        <li><a href="/user/dashboard">Dashboard</a></li>
                    {{/if}}
                    <li><a href="" id="logout">Logout</a></li>
                {{/unless}}
            </ul>
        </div>
    </nav>
</template>